<h1>List of my simple codeworks</h1>
<p>
  Здесь расположены ссылки на различные задачки, в скобках указано какие технлогии были использованы
  для реализации
</p>

<div class="list_work">
  <ul>
    <li><%=	 link_to "Astrology (JSON, rspec)", astrology_path %></li>
    <li><%=	 link_to "Weather Forecast (REXML, XPath)", weather_path %></li>
    <li><%=	 link_to "Blog (Bootstrap, rspec, Capybara, bcrypt)", posts_path %></li>
  </ul>
</div>
